body {
  margin: 0%;
  padding: 0%;
}
.intro-background {
  background-image: url(../images/camel.jpg);
  background-size: cover;
  max-width: 100%;
  min-height: 650px;
  background-position: center;
  padding: 0%;
  margin: 0%;
}
.icon {
  margin: 10px 20px;
}
nav {
  float: right;
  padding: 0px 70px;
}
nav li {
  display: inline-block;
  padding: 0px 20px;
}
nav li a {
  text-decoration: none;
  color: black;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
}
nav li a:hover {
  color: #208c7b;
  transition: 0.6s;
}
.active {
  background: rgb(255, 255, 0, 0.7);
  padding: 10px 5px;
  border-radius: 10px;
}
h1 {
  font-size: 25px;
}
.intro-text {
  text-align: center;
  margin: 20% auto 0px;
  background: rgba(255, 255, 255, 0.8);
  max-width: 25%;
  border-radius: 5px;
}
h2,
.text {
  text-align: center;
}
.text {
  max-width: 72%;
  margin: 20px auto;
}
